
/**/.vscode
/**/*.root

/.cproject
/.project
/.settings
/**/*.cache

build/*
include/*
lib/*

packages/Alignment/MillepedeII/.svn/
packages/Alignment/MillepedeII/*.o
packages/Alignment/MillepedeII/*.mod
packages/Alignment/MillepedeII/pede
packages/Alignment/MillepedeII/*.end
packages/Alignment/MillepedeII/*.log
packages/Alignment/MillepedeII/*.*~
packages/Alignment/MillepedeII/*.his
packages/Alignment/MillepedeII/*.res
packages/Alignment/MillepedeII/*.txt
packages/Alignment/MillepedeII/*.bin




